# Part 1

In [1]:
import pandas as pd

In [3]:
#(lambda x,y : x+y)(10,20)

30

In [4]:
pd.set_option('display.float_format', lambda x : "%.1f" % x)

In [6]:
data = pd.read_csv('https://bit.ly/ld-sample-idol', index_col = "순위")

In [7]:
data.head()

      이름     그룹  소속사  성별        생년월일     키 혈액형   브랜드평판지수
순위
1     지민  방탄소년단  빅히트  남자  1995-10-13 173.6   A  10523260
2   지드래곤     빅뱅   YG  남자  1988-08-18 177.0   A   9916947
3   강다니엘    NaN  커넥트  남자  1996-12-10 180.0   A   8273745
4      뷔  방탄소년단  빅히트  남자  1995-12-30 178.0  AB   8073501
5     화사    마마무  RBW  여자  1995-07-23 162.0   A   7650928

In [8]:
data['이름']

순위
1       지민
2     지드래곤
3     강다니엘
4        뷔
5       화사
6       정국
7       민현
8       소연
9        진
10     하성운
11      태연
12     차은우
13      백호
14      JR
15      슈가
Name: 이름, dtype: object

In [9]:
data.iloc[3]

이름                  뷔
그룹              방탄소년단
소속사               빅히트
성별                 남자
생년월일       1995-12-30
키               178.0
혈액형                AB
브랜드평판지수       8073501
Name: 4, dtype: object

In [10]:
data.iloc[3:7]

    이름     그룹   소속사  성별        생년월일     키 혈액형  브랜드평판지수
순위
4    뷔  방탄소년단   빅히트  남자  1995-12-30 178.0  AB  8073501
5   화사    마마무   RBW  여자  1995-07-23 162.0   A  7650928
6   정국  방탄소년단   빅히트  남자  1997-09-01 178.0   A  5208335
7   민현   뉴이스트  플레디스  남자  1995-08-09 182.0   O  4989792

In [12]:
select = [3,4,5,6,7]
data.iloc[select]

    이름     그룹   소속사  성별        생년월일     키 혈액형  브랜드평판지수
순위
4    뷔  방탄소년단   빅히트  남자  1995-12-30 178.0  AB  8073501
5   화사    마마무   RBW  여자  1995-07-23 162.0   A  7650928
6   정국  방탄소년단   빅히트  남자  1997-09-01 178.0   A  5208335
7   민현   뉴이스트  플레디스  남자  1995-08-09 182.0   O  4989792
8   소연    아이들    큐브  여자  1998-08-26 157.0   B  4668615

In [14]:
data.iloc[[3,4,5,6,7]]

    이름     그룹   소속사  성별        생년월일     키 혈액형  브랜드평판지수
순위
4    뷔  방탄소년단   빅히트  남자  1995-12-30 178.0  AB  8073501
5   화사    마마무   RBW  여자  1995-07-23 162.0   A  7650928
6   정국  방탄소년단   빅히트  남자  1997-09-01 178.0   A  5208335
7   민현   뉴이스트  플레디스  남자  1995-08-09 182.0   O  4989792
8   소연    아이들    큐브  여자  1998-08-26 157.0   B  4668615

In [15]:
data['이름'].iloc[3]

'뷔'

In [22]:
data['이름'].iloc[3:7]

순위
4     뷔
5    화사
6    정국
7    민현
Name: 이름, dtype: object

In [25]:
data['이름'].iloc[[3,4,5,6,]]

순위
4     뷔
5    화사
6    정국
7    민현
Name: 이름, dtype: object