In [1]:
import pandas as pd

In [2]:
pd.set_option('display.float_format', lambda x : '%.1f' % x)

In [5]:
data = pd.read_csv('http://bit.ly/ld-sample-idol')

In [6]:
data.head()

   순위    이름     그룹  소속사  성별        생년월일     키 혈액형   브랜드평판지수
0   1    지민  방탄소년단  빅히트  남자  1995-10-13 173.6   A  10523260
1   2  지드래곤     빅뱅   YG  남자  1988-08-18 177.0   A   9916947
2   3  강다니엘    NaN  커넥트  남자  1996-12-10 180.0   A   8273745
3   4     뷔  방탄소년단  빅히트  남자  1995-12-30 178.0  AB   8073501
4   5    화사    마마무  RBW  여자  1995-07-23 162.0   A   7650928

In [8]:
data = data.set_index('순위')

In [10]:
data.head()

      이름     그룹  소속사  성별        생년월일     키 혈액형   브랜드평판지수
순위
1     지민  방탄소년단  빅히트  남자  1995-10-13 173.6   A  10523260
2   지드래곤     빅뱅   YG  남자  1988-08-18 177.0   A   9916947
3   강다니엘    NaN  커넥트  남자  1996-12-10 180.0   A   8273745
4      뷔  방탄소년단  빅히트  남자  1995-12-30 178.0  AB   8073501
5     화사    마마무  RBW  여자  1995-07-23 162.0   A   7650928

## 데이터 분석 입문자로써 꼭 알아야 할 pandas 기능
<산술 통계>
- info() : 데이터의 간단한 정보를 살펴봅니다
- describe() : 산술 통계 정보 확인
- isnull() : 데이터가 누락되었는지 여부
- value_counts() : 데이터의 종류별 갯수 확인

<조건 필터링>
- loc : 조건에 대한 필터를 걸어 데이터를 확인 합니다.

<데이터 전처리>
- replace() : 데이터를 다른 값을 바꿔줄 때 활용합니다.
- fillna() : 빈 값을 채워줄 때 활용합니다.

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 1 to 15
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       15 non-null     object
 1   그룹       14 non-null     object
 2   소속사      15 non-null     object
 3   성별       15 non-null     object
 4   생년월일     15 non-null     object
 5   키        15 non-null     float64
 6   혈액형      15 non-null     object
 7   브랜드평판지수  15 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB

In [15]:
data.describe()

          키    브랜드평판지수
count  15.0       15.0
mean  173.4  5655856.1
std     8.1  2539068.0
min   157.0  2925442.0
25%   170.3  3712344.0
50%   176.0  4668615.0
75%   178.5  7862214.5
max   183.0 10523260.0

In [16]:
data['그룹'].isnull()

순위
1     False
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
Name: 그룹, dtype: bool

In [17]:
data['그룹'].isnull().sum()

1